@font-face {
  font-family: NeueHaasDisplay;
  src: url("/public/font/NeueHaasDisplay/NeueHaasDisplayRoman.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NeueHaasDisplay;
  src: url("/public/font/NeueHaasDisplay/NeueHaasDisplayBold.ttf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

